<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{judulku}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="refresh" content="{sesidt}; URL={sumber}/expire.php">
<meta name="author" content="hajirobe">
<meta name="description" content="{description}">
<meta name="url" content="{url}">
<meta name="keywords" content="{keywords}">
<link href="{sumber}/inc/style/sisfokol.css" rel="stylesheet" type="text/css">
<link href="{sumber}/inc/style/flexdropdown_cp.css" rel="stylesheet" type="text/css">
<link href="{sumber}/inc/style/black-tie/jquery-ui.css" rel="stylesheet" type="text/css" media="screen">
<script type="text/javascript" src="{sumber}/inc/js/jquery.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/flexdropdown.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/jquery.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/jquery.translate-1.3.9.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/jquery-ui.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/ui/jquery.ui.core.js"></script>
<script type='text/javascript' src='{sumber}/inc/js/modernizr.custom.13303.js'></script>
<script type='text/javascript' src='{sumber}/inc/js/jquery.shockwave.js'></script> 
<script type='text/javascript' src='{sumber}/inc/js/jquery.shockwave.effects.js'></script>
<script src='{sumber}/inc/js/jquery.divslideshow-1.2-min.js' type='text/javascript'></script>
    


<script type="text/javascript">

  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', '86493867']);


  _gaq.push(['_trackPageview']);


  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ?  'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();

</script>






<script type="text/javascript">
$(document).ready(function() {
	$('#loading').ajaxStart(function(){
			$(this).show();
		}).ajaxStop(function(){
			$(this).hide();
		});




	
});
</script>




<style>
  #foo {
    position: fixed;
    top: 0;
    left: 0;
  }

  #foo2 {
    position: fixed;
    top: 0;
    left: 0;
  }




a.headerku:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
	text-decoration: none;
}
a.headerku:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
}
a.headerku:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7897c1;
	text-decoration: underline;
}
a.headerku:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #8b9bb1;
	text-decoration: none;
}




a.headerku2:link {
	color: #8b9bb1;
	text-decoration: none;
}
a.headerku2:visited {
	color: #8b9bb1;
}
a.headerku2:hover {
	color: white;
	text-decoration: underline;
}
a.headerku2:active {
	color: white;
	text-decoration: none;
}




a.selengkapnya:link {
	color: white;
	text-decoration: none;
	background-color: #8b9bb1;
}

a.selengkapnya:hover {
	color: #8b9bb1;
	text-decoration: none;
	background-color: black;
}

  
</style>


	
<style type="text/css">
 
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
 
</style>




<script>

var imagesDataArray = [ 
   {
      src: '{sumber}/img/h_banner1.jpg',
      description: '{sek_nama}.'
   },
   {
      src: '{sumber}/img/h_banner2.jpg',
      description: '{sek_nama}.'
   },
   {
      src: '{sumber}/img/h_banner3.jpg',
      description: '{sek_nama}.'
   },
   {
      src: '{sumber}/img/h_banner4.jpg',
      description: '{sek_nama}.'
   },
   {
      src: '{sumber}/img/h_banner5.jpg',
      description: '{sek_nama}.'
   },
   {
      src: '{sumber}/img/h_banner6.jpg',
      description: '{sek_nama}.'
   },
   {
      src: '{sumber}/img/h_banner7.jpg',
      description: '{sek_nama}.'
   },
];


jQuery(function(){

	$('#unhookshow').shockwave(imagesDataArray, {
	 'slider-type': 'UnhookedSlider',
   'free-fall-time': 150, // ms
	 'autostart-slideshow': true,
	 'slideshow-delay': 5000,
   'tiles-in-x': 5,
   'tiles-in-y': 5,
	 'show-permanent-description': false,
	 'viewport-dimension': {width: 300, height: 150}
	});



})

</script>


<!--
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
/////// SISFOKOL_SMK_v5.0_(PernahJaya)                          ///////
/////// (Sistem Informasi Sekolah untuk SMK)                    ///////
///////////////////////////////////////////////////////////////////////
/////// Dibuat oleh :                                           ///////
/////// Agus Muhajir, S.Kom                                     ///////
/////// URL 	:                                               ///////
///////     * http://omahbiasawae.com/                          ///////
///////     * http://sisfokol.wordpress.com/                    ///////
///////     * http://hajirodeon.wordpress.com/                  ///////
///////     * http://yahoogroup.com/groups/sisfokol/            ///////
///////     * http://yahoogroup.com/groups/linuxbiasawae/       ///////
/////// E-Mail	:                                               ///////
///////     * hajirodeon@yahoo.com                              ///////
///////     * hajirodeon@gmail.com                              ///////
/////// HP/SMS/WA : 081-829-88-54                               ///////
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
//-->
</head>

<body background="{sumber}/img/bg_ijo.png" bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" onLoad="{diload}">


<div id="foo">
	<div id="loading" style="display:none">
	<img src="{sumber}/img/loading.gif" width="16" height="16">
	<font color="white" style="background-color:#8b9bb1; width:200px;">
	Loading...
	</font>
	</div>
	
	<div id="result"></div>
	
</div>



<div id='unhookshow' style="position:relative;top:30px;left:1005px;display:block;"></div>

<div style="position:relative;top:-150px;left:5px;display:block;">
<TABLE WIDTH=1300 BORDER=0 CELLPADDING=5 CELLSPACING=0>
<tr height="30" bgcolor="black" background="{sumber}/img/bg_hitam.png">
  <TD width="500" align="left">
  	<b>
	<a href="{sumber}" class="headerku" title="Halaman Depan"><img src="{sumber}/img/home-link.png" height="16"></a> |
	<a href="kontak_kami.php" class="headerku" title="Kontak Kami">Kontak Kami</a> |
	<a href="buku_tamu.php" class="headerku" title="Buku Tamu">Buku Tamu</a> | 
	</b>
	
	
</td>
</tr>
</table>


<TABLE WIDTH=1300 BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR width="1300" height="150">
  <TD align="left" background="{sumber}/img/h_header.png">


<TABLE WIDTH=800 BORDER=0 CELLPADDING=3 CELLSPACING=3>
<TR>
<td width="50">
&nbsp;
</td>
<td width="100">
<p>
<img src="{sek_filexx}" width="75" height="75" border="0">
</p>
</td>

<td>
<b>
<font size="6">
{sek_nama}
</font>
</b>

<br>
{sek_alamat}. {sek_kota}.
<br>
{sek_kontak}.
</td>
</tr>
</table>


</td>
</tr>
</table>
</div>


<div style="position:relative;top:-170px;left:5px;display:block;">
{isi_banner}

 <table width="1300" background="{sumber}/img/bg.png" height="500" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td valign="top">
	  {isi}
	  </td>
    </tr>
  </table>



  <table width="1300" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
      	
  <table width="1300" border="0" cellpadding="0" cellspacing="0">
    <tr height="100">
      <td background="{sumber}/img/bg.png" align="right">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		




  <table width="1300" border="0" cellpadding="5" cellspacing="0" bgcolor="#717d8e">
    <tr>
      <td align="left">
	  <font color="white">
	  &copy;2016. {versi}
	  </font>
	  </td>
    </tr>
  </table>
		
  
  
  
  
  
  
   <table width="1300" border="0" cellpadding="0" cellspacing="0" bgcolor="gray">
    <tr>
      <td align="left">
	  <font color="gray">
	  <iframe frameborder="0" width="1300" src="http://iklan.omahbiasawae.com/iklanbaris.php" scrolling="no" name="frku" height="30"></iframe>
	  </font>
	  </td>
    </tr>
  </table>







   <table width="100%" border="0" cellpadding="3" cellspacing="0">
    <tr>
      <td align="center" bgcolor="maroon">
		<a href="http://info.flagcounter.com/jBgO"><img src="http://s01.flagcounter.com/count2/jBgO/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
	  </td>
    </tr>
  </table>
  
  
  

	  </td>
    </tr>
  </table>


  




</div>



</body>
</html>